@model Web2PnK.Models.SendingModelForForgotPassword
@{
    Layout = null;
}

<div style="margin:0 auto;width:600px;height:551px;">
    <div style="border-radius:8px;background:#FFFFFF;font-family:Inter, sans-serif;font-size:14px;">
        <div style="height: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; background: linear-gradient(90deg, #FF0D9A 0%, #FF3288 14.29%, #FF4D79 28.57%, #FF666D 42.86%, #FF7C65 57.14%, #FF9062 71.43%, #FFA364 85.71%, #FFB56B 100%);">
        </div>
        <div style="margin-left: 32px; margin-right: 32px;">
            <img style="margin:10px auto;display:block;width:25%" src="@(Model.RootLink + "logo.png")" alt="logo" />
            <p style="color: black;width: 100%;font-size: 24px;font-weight: 600;line-height: 32px;text-align: center;margin-bottom: 24px;">
                Відновлення паролю
            </p>
            <p style="color: black;line-height: 22px;text-align: left;margin: 8px 0;">
                Отримано запит на зміну паролю для вашого 2πnK акаунту.
            </p>
            <div style="width: 100%;margin: 20px auto;text-align:center;">
                <a href="@Model.Link"
                   style="text-decoration: none;padding:10px 5%;border-radius: 2px;border: #D1007D;background: #D1007D;font-size: 14px;font-weight: 400;text-align: center;color: #FFF;">
                    Відновити пароль
                </a>
            </div>
            <div style="margin: 20px 0px; width: fit-content;">
                <p style="text-align:left;color:grey; display: inline">
                    Якщо ви не ініціювали цей запит, будь ласка, негайно зв'яжіться з нами за адресою
                </p>
                <a href="#" style="text-decoration: none; color: black; padding:10px 10px;  display: inline">
                    support@2pink.com
                </a>
            </div>

            <hr style="width: 100%;  border-color: #D9D9D9; margin-top: 20px;">
        </div>
    </div>
    <div style="margin: 10px auto;width: fit-content">
        <p style="text-align:center;color:grey">
            Виникли питання? Звʼяжіться із нами
        </p>
        <div style="margin:0 auto; width:fit-content">
            <a href="https://discord.gg/VwVj8V4mH9" style="text-decoration: none; color: black;margin: 0 10px">
                Discord
            </a>
            <a href="https://t.me/inkvi_2pink" style="text-decoration: none; color: black;margin: 0 10px">
                Telegram
            </a>
            <a href="https://inkvi.foundation@gmail.com" style="text-decoration: none; color: black;margin: 0 10px">
                Email
            </a>
        </div>
    </div>
</div>